<!-- Modal de Detalles del Hotel -->
<div id="hotelDetailsModal" class="modal" (click)="onBackdropClick($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Botón para cerrar el modal -->
    <span class="close" (click)="closeModal()">&times;</span>

    <!-- Mostrar imágenes existentes del hotel -->
    <div class="images">
      <!-- Imagen principal -->
      <img *ngIf="hotel.images.length > 0" [src]="currentImage" [alt]="hotel.name" class="main-image">

      <!-- Galería de miniaturas -->
      <div class="thumbnail-gallery">
        <img *ngFor="let image of hotel.images" [src]="image" [alt]="hotel.name"
             class="thumbnail-image"
             (click)="changeImage(image)">
      </div>
    </div>

    <!-- Detalles del hotel -->
    <div class="hotel-header">
      <h2>{{ hotel.name }}</h2>
      <p class="rating">
        <span class="stars">★★★★★</span> ({{ hotel.rating }})
      </p>
    </div>

    <!-- Información adicional del hotel -->
    <div class="hotel-info">
      <div class="header left-align">
        <p><i class="fas fa-map-marker-alt"></i> {{ hotel.address }} <a href="#">Ubicación excelente</a></p>
      </div>
      <div class="additional-info left-align">
        <p><strong>Descripción:</strong> {{ hotel.description }}</p>
        <p><strong>Por qué visitarnos:</strong> {{ hotel.whyVisit }}</p>
      </div>
    </div>

     <!-- Precio del hotel -->
     <div class="price-container">
      <p class="price">{{ hotel.price }}</p>
    </div>
  </div>


    <!-- Contenedor para precio y botón de reservar -->
    <div class="reservation-container">
      <p class="price">{{ hotel.price }}</p>
      <button (click)="makeReservation()">Reservar</button>
    </div>
  </div>

